@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@font-face {
  font-family: 'NPSfontBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/NPSfontBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  font-size: 16px;
  font-family: 'NPSfontBold';
}

ul,
ol {
  list-style: none;
  padding: 0px;
}

img {
  width: 100%;
}

@layer utilities {
  .li-plus-li>li+li {
    margin-top: 10px;
  }
}