ul,
ol {
    list-style: none;
    padding: 0px;
}

img {
    width: 100%;
}

.wrap {
    width: 700px;
    margin: auto;
    height: 900px;
    position: relative;
}

.back_bg {
    background-size: cover;
}



.list {
    height: 800px;
    overflow-y: scroll;
}

.list_box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list_box li {
    margin: 0px 10px;
}

.list_item {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.list_content {
    width: 40px;
    height: 40px;
}

.img_size {
    width: 50px;
    height: 50px;
}

.list_item_imgs {
    display: flex;
}